# Python / Virtualenv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables & Secrets
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db
